# Ignore ML models
*.h5 linguist-generated=true
*.dat linguist-generated=true

# Ignore OpenCV / Haar cascade files
*.xml linguist-generated=true

# Ignore data files
*.csv linguist-generated=true

# Ignore images
*.png linguist-generated=true
*.jpg linguist-generated=true

# Ignore audio
*.mp3 linguist-generated=true

# Mark Python as main language
*.py linguist-language=Python
