# ---------- Ignore non-source files ----------
*.h5 linguist-generated=true
*.dat linguist-generated=true
*.xml linguist-generated=true
*.csv linguist-generated=true
*.png linguist-generated=true
*.jpg linguist-generated=true
*.jpeg linguist-generated=true
*.mp3 linguist-generated=true

# ---------- Ignore build / tool files ----------
CMakeLists.txt linguist-generated=true
*.cmake linguist-generated=true

# ---------- Force main language ----------
*.py linguist-language=Python
*.html linguist-language=HTML
*.js linguist-language=JavaScript
